<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.phoenix.osteoporosis"
        >

    <uses-sdk android:minSdkVersion="14"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
            android:icon="@drawable/pooki"
            android:label="@string/app_name"
            android:theme="@style/theme"
            android:name=".util.Global"

            >
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity"/>
        <activity android:name=".activities.FakeActivity"/>
        <activity android:name=".activities.AlaemActivity"/>
        <activity android:name=".activities.DarmanActivity"/>
        <activity android:name=".activities.PishgiriActivity"/>
        <activity android:name=".activities.DalaielActivity"/>
        <activity android:name=".activities.ConsultationActivity"/>
        <activity android:name=".activities.SearchActivity"/>
        <activity android:name=".activities.ArticleActivity"/>
        <activity android:name=".activities.AboutActivity"/>
        <activity android:name=".activities.DeveloperActivity"/>
        <activity android:name=".activities.DiagTestActivity"/>
        <activity android:name=".activities.diagnosisActivities.DiagInformation"/>
        <activity android:name=".activities.diagnosisActivities.Diag1"/>
        <activity android:name=".activities.diagnosisActivities.Diag3"/>
        <activity android:name=".activities.diagnosisActivities.Diag5"/>
        <activity android:name=".activities.diagnosisActivities.Diag6"/>
        <activity android:name=".activities.diagnosisActivities.Diag8"/>
        <activity android:name=".activities.diagnosisActivities.Diag11"/>
        <activity android:name=".activities.diagnosisActivities.Diag13"/>
        <activity android:name=".activities.diagnosisActivities.Diag14"/>
        <activity android:name=".activities.diagnosisActivities.Diag16"/>
        <activity android:name=".activities.diagnosisActivities.Diag17"/>
        <activity android:name=".activities.diagnosisActivities.Diag19"/>
        <activity android:name=".activities.diagnosisActivities.Diag31"/>
        <activity android:name=".activities.diagnosisActivities.Diag45"/>
        <activity android:name=".activities.diagnosisActivities.Diag21"/>
        <activity android:name=".activities.diagnosisActivities.Diag56"/>
        <activity android:name=".activities.diagnosisActivities.Diag57"/>
        <activity android:name=".activities.diagnosisActivities.Diag62"/>
        <activity android:name=".activities.diagnosisActivities.Diag69"/>
        <activity android:name=".activities.diagnosisActivities.Diag70"/>
        <activity android:name=".activities.diagnosisActivities.Diag24"/>
        <activity android:name=".activities.diagnosisActivities.Diag26"/>
        <activity android:name=".activities.diagnosisActivities.Diag22"/>
        <activity
                android:name=".activities.diagnosisActivities.DiagA"
                android:label="diaga"
                />
        <activity android:name=".activities.diagnosisActivities.DiagB"/>
        <activity android:name=".activities.diagnosisActivities.DiagC"/>
        <activity android:name=".activities.diagnosisActivities.DiagD"/>
        <activity android:name=".activities.diagnosisActivities.DiagE"/>
        <activity android:name=".activities.diagnosisActivities.DiagF"/>
        <activity android:name=".activities.diagnosisActivities.DiagG"/>
        <activity android:name=".activities.diagnosisActivities.DiagH"/>
        <activity android:name=".activities.diagnosisActivities.DiagI"/>
        <activity android:name=".activities.diagnosisActivities.Diag29"/>
    </application>
</manifest>
